DATABASE_URL=
JWT_SECRET=
SESSION_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLISHABLE_KEY=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PORT=3000
NODE_ENV=development
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_CALLBACK_URL=https://reelbridge-api.onrender.com/api/oauth/twitter/callback
X_CLIENT_ID=your_client_id_here
X_CLIENT_SECRET=your_client_secret_here
X_REDIRECT_URI=https://reelbridge.site/oauth/callback/x
ADMIN_EMAIL=CMORAN22@HOTMAIL.COM
ADMIN_PASSWORD=Wegotthis22!
